<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <style>
        .navbar-right {
            float: right !important;
            margin-right: 15px;
            margin-left: 15px;
        }

        .banner {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            background-color: tan;
            width: 100%;
            height: auto;
        }

        .bannerli {
            float: left;
        }

        .myimg {
            margin: 2px 0px;
            float: left;

        }




        
    </style>
</head>
<body>
    <div class="banner">
        <div class="row myHeight mySmallText myimg">
                <IMG class="hidden-xs" SRC="~/Pictures/TroySuit.jpg" ALT="Troy Herrick" WIDTH=100 HEIGHT=120>
                <IMG class="visible-xs" SRC="~/Pictures/TroySuit.jpg" ALT="Troy Herrick" WIDTH=50 HEIGHT=60>
                <p class="hidden-xs" style="font-weight:bold;font-size: 15px !important;"> - Troy Herrick</p>
                <p class="visible-xs" style="font-weight:bold;font-size: 8px !important;"> - Troy Herrick</p>
            </div>

        <div class="myHeight mySmallText bannerli">
            <ul style="font-weight:bold; margin-top: 10px; margin-right:30px;">
                <li>Oracle Certified Java programmer</li>
                <li>Working experience with Java and C# MVC Projects</li>
                <li>Experience in Agile development teams</li>
            </ul>
        </div>

        <div class="myHeight mySmallText">
            <ul style="font-weight:bold; margin-top: 10px; margin-left: 20px;">
                <li>Bachelor Degree in Computer Science</li>
                <li>17 years in the IT Field</li>
                <li>Developed this site using <i>Pro ASP.NET MVC5</i>. by Adam Freeman. APress, 2013.</li>
            </ul>
        </div>

    </div>
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">
            <span class="hidden-xs">SPORTS STORE</span>
            <div class="visible-xs">SPORTS</div>
            <div class="visible-xs">STORE</div>
        </a>
        @Html.Action("Summary", "Cart")
    </div>
    <div class="visible-xs">
        @Html.Action("Menu", "Nav", new { horizontalLayout = true })
    </div>
    <div class="row panel">
        <div class="col-sm-3 hidden-xs">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-xs-12 col-sm-8">
            @RenderBody()
        </div>
    </div>

</body>
</html>